*.php~
*~
*.bak
*.pyc
/var/cache/*
/var/logs/*
/var/sessions/*
/.idea/*
/vendor/*
/app/config/parameters.yml
/composer.lock
/composer.phar
/app/DoctrineMigrations/*
/web/uploads/*
.DS_Store
/web_admin/node_modules/
/web_admin/webpack-stats.json
/src/Lgck/ServiceBundle/Tests/*
/web/css/*
/web/images/*
/web/js/*
npm-debug.log
node_modules/